{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_product.css' %}">
    {#    <form method="post" class="add_product_form" id = 'add_product' enctype="multipart/form-data">#}
    {#        {% csrf_token %}#}
    {#        {{ add_form.as_p }}#}
    {#        <input multiple='true' name="get_images" type="file" accept=".png,.jpg,.jpeg"> <br>#}
    {#        <input type="submit">#}
    {#    </form>#}

    {% if base_categories %}
        <form method="get" class="add_product_form">
            {% csrf_token %}
            <label for="category_selector">выберите категорию</label>
            <select name="category_selector">
                {% for category in base_categories %}
                    <option value="{{ category.id }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
            <button name="next_btn" type="submit">Далее</button>
        </form>
    {% endif %}
{#    {% if add_product_form %}#}
{#        <form action="">#}
{#            {% csrf_token %}#}
{#            {{ add_product_form.as_p }}\#}
{#            <button name="next_btn" type="submit">Отправить форму</button>#}
{#        </form>#}
{#    {% endif %}#}


    {#    <script>#}
    {#       $('.next').on('click',function (){#}
    {#           let choice = $('select[name=category_selector]').val();#}
    {##}
    {#           let data = {'choice': choice, "key": "add_product"}#}
    {#           send_ajax()#}
    {#       })#}
    {#    </script>#}
{% endblock %}

