{% extends "core/base.html" %}
{% block title %}Универмаг{% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <div class="main_list" id="container">
        <div class="row">
            <div class="Product">
                {% for product in product_list %}
                    <div class="item">
                        <a href="product/{{ product.slug }}" class="home_product_block_link">
                            <div class="home_img1_block__container__">
                                {% if product.image1 %}
                                    <img class="product_img_homepage" src="{{ product.image1.url }}" alt="Картинка">
                                {% endif %}
                            </div>
                            <div class="item-description">
                                <p id="price">{{ product.price }} &#x20bd; </p>
                                <div class="product_title_block">
                                    <h1 class="product_title">{{ product.title }}</h1>
                                </div>
                                <p>Звездочки</p>
                                <p>Доставка:завтра</p>
                            </div>
                        </a>
                            <div class="item-description-bottom_btns">                        {# Тут пока только одна кнопка #}
                                <button class="home_page-add_to_basket_btn" name="{{ product.id }}">Добавить в корзину</button>
                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="product_added_into_basket_msg">
            <div class="message_product_added">
                Товар добавлен в корзину
            </div>
            <div class="message_product_already_added">
                Товар уже в корзине
            </div>
            <div class="modal_window_btns">
                <span><a class="button_to_basket" href="{% url 'basket' %}">Перейти к корзине</a></span>
                <button class="button_stay_here">
                    Остаться
                </button>
            </div>
        </div>
    </div>
    <div class="dialog_window_background"></div>

    <script>
        $(".home_page-add_to_basket_btn").on('click',function (){
            let product_id = $(this).attr('name')
            let data = {"key":"AddToBasket_home","product_id": product_id}
            send_ajax(data, "{{ request.path }} ")
        })
    </script>
{% endblock %}